span{
    color: #FECF03;
}
a{
    text-decoration: none;
}
img{
    max-height:13rem;
}
.main-card , img{
    border-radius: 1.1rem;
    border: none;
}
p{
    color:  rgb(110, 110, 110);
    font-size:0.7rem;
}
.main-card:hover{
    box-shadow: #dadada 0px 2px 2px 0px;
    cursor: pointer;
    transform: scale(1.02);
    transition: all ease 0.5s;
    background-color: #fd810d;
    color:white !important;
}
.main-card:hover p{
    color: white;
}
.main-card:hover button{
    background-color: #eee;
    color: #0c0f24;
    
}
.main-card:hover .houres_color{
    color: #eee;
}
.houres_color {
    color:#fd810d ;
}
button{
    background-color: #171E45;
    border: none;
    border-radius: 1.6rem;
    padding: 0.5rem 1.6rem 0.5rem 1.6rem;
}
.hover img:hover{
    scale:1.1;
    transition:all ease 0.7;
}
