.main_header{
  background-color: #fff;
  box-shadow: #eee 0 2px 2px 0;
}
.main_header nav{
  padding: 0px;
}
.activeLink{
  color: #FC800A !important;
  text-decoration: underline;
}

.bttn{
  border-radius: 20px;
  box-shadow: #FC800A 0 0 4px 0.5px;
  color: #FC800A;
  margin-right: 10px;
  font-size: 14px;
}
