.img {
  width: 100%;
  height: 500px;
}
main {
  height: 500px;
  position: relative;
  margin-top: 20px;
}
main::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background-color: rgba(102, 64, 36, 0.5);
}
.main {
  position: absolute;
  z-index: 300;
  top: 0;
  padding: 200px 100px;
  color: white;
  width: 650px;
}
.main h3 {
  font-size: 40px;
}
.main p {
  font-size: 19px;
}
section {
  background-color: #faecd9;
  text-align: center;
  border-radius: 1em 8em/ 0.4em 28em;
  height: 300px;

  z-index: 999;
  top: 10;
  bottom: -100px;
}
.what {
  width: 50%;
  margin: auto;
  padding: 50px;
}
.section2 {
  background-color: #fc800a;
  color: white;
}
.section2 h3 {
  text-align: center;
  padding: 50px 0;
}
.section2 .team {
  /* padding-left:200px;
  padding-right: 200px; */
  margin: auto;
  width: 60%;
}
.sec1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.inst1 h6 {
  color: #fc800a;
}
.sec1 p {
  width: 60%;
}
.sec1 img {
  transition: all ease 0.9s;
}
.sec1 img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.sec3 {
  background-color: #fbf1e3;
  color: black;
  border-radius: 5px 90px;
  padding-bottom: 40px;
}
.sec3 h3 {
  text-align: center;
  padding: 50px 10px;
}
.teachers {
  display: flex;
  /* justify-content: space-between; */
  padding: 0 100px;
}
.inst1 {
  margin-left: 50px;
  text-align: center;
}
.inst1 img {
  padding-bottom: 20px;
  transition: all ease 0.9s;
}
.inst1 img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: linear-gradient(#fc800a, #fcad63);
  height: 50vh;
  color: white;
  padding: 0 100px;
  margin-bottom: 20px;
}
.section3 img {
  padding-bottom: 20px;
}
.cer1 img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.cer1 img {
  transition: all ease 0.9s;
}

@media screen and (max-width: 650px) {
  .main {
    text-align: center;
    width: 100%;

    margin: -120px 10px;
  }

  .main p {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
  }
  .main h3 {
    padding: 15px;
    font-size: 30px;
  }
  * {
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
  }
  .what {
    width: 100%;
    padding: 30px;
  }
  .what h3 {
    font-size: 25px;
  }
  .section2 .team {
    width: 100%;
  }
  .sec1 {
    flex-direction: column;
    text-align: center;
  }
  .sec1 p {
    width: 100%;
    padding: 25px;
    font-size: 22px;
  }
  .section2 h3 {
    font-size: 30px;
  }
  .sec1 img {
    width: 50%;
    margin: auto;
  }
  .col1 {
    flex-direction: column-reverse;
  }
  .teachers {
    flex-direction: column;
    width: 100%;
  }
  .inst1 {
    padding: 20px 0;
  }
  .inst1 h4,
  h6,
  p {
    padding-bottom: 10px;
    font-size: 20px;
  }
  .inst1 h6 {
    font-size: 22px;
  }
  .inst1 h4 {
    font-size: 25px;
  }
  .cer1 {
    margin: 15px;
  }
  .section3 {
    padding: 0;
    width: 100%;
  }
}
