<main>
  <img class="img" [src]="imgSrc" alt="" />
  <div class="main">
    <h3>About Us</h3>
    <p>
      KidoGeek is the leading online coding school for kids and teens ages 8-18.
      Our mission is to prepare students for success in the digital world by
      teaching them how to code.
    </p>
  </div>
</main>
<section>
  <div class="what we do">
    <h3 style="color: white">What We Do</h3>
    <p style="padding-top: 20px; color: orangered">
      KidoGeek is a woman and minority-owned business whose mission is to
      empower the next generation of coders and entrepreneurs to use their
      skills to make the world a better place.
    </p>
  </div>
</section>
<div class="section2">
  <h3 style="color: rgb(248, 245, 244)">KidoGeek Core Team</h3>
  <div class="team">
    <div class="sec1">
      <img [src]="imgSrc1" alt="" />

      <p>
        Lauren Nguyen, Co-Founder and CEO. co-founded CodaKid in 2014 and is
        responsible for its growth into a leading online coding academy with
        students in over 120 countries. Lauren oversees strategic planning,
        operations, and finance at CodaKid.
      </p>
    </div>
    <div class="sec1 col1">
      <p>
        Lauren Nguyen, Co-Founder and CEO. co-founded CodaKid in 2014 and is
        responsible for its growth into a leading online coding academy with
        students in over 120 countries. Lauren oversees strategic planning,
        operations, and finance at CodaKid.
      </p>
      <img [src]="imgSrc2" alt="" />
    </div>
    <div class="sec1">
      <img [src]="imgSrc3" alt="" />
      <p>
        Lauren Nguyen, Co-Founder and CEO. co-founded CodaKid in 2014 and is
        responsible for its growth into a leading online coding academy with
        students in over 120 countries. Lauren oversees strategic planning,
        operations, and finance at CodaKid.
      </p>
    </div>
    <div class="sec1 col1">
      <p>
        Lauren Nguyen, Co-Founder and CEO. co-founded CodaKid in 2014 and is
        responsible for its growth into a leading online coding academy with
        students in over 120 countries. Lauren oversees strategic planning,
        operations, and finance at CodaKid.
      </p>
      <img [src]="imgSrc4" alt="" />
    </div>
    <div class="sec1">
      <img [src]="imgSrc5" alt="" />
      <p>
        Lauren Nguyen, Co-Founder and CEO. co-founded CodaKid in 2014 and is
        responsible for its growth into a leading online coding academy with
        students in over 120 countries. Lauren oversees strategic planning,
        operations, and finance at CodaKid.
      </p>
    </div>
  </div>
  <div class="sec3">
    <h3>Our Instructors</h3>
    <div class="teachers">
      <div class="inst1">
        <img [src]="imgSrc10" alt="" />
        <h4>Kelli Demoville</h4>
        <h6>Lead Instructor</h6>
        <p>
          Starting as a kido instructor in 2018, Matt now manages our global
          product development team.
        </p>
      </div>
      <div class="inst1">
        <img [src]="imgSrc11" alt="" />
        <h4>Margaret Choi</h4>
        <h6>Back End Developer</h6>
        <p>
          Starting as a kido instructor in 2018, Matt now manages our global
          product development team.
        </p>
      </div>
      <div class="inst1">
        <img [src]="imgSrc9" alt="" />
        <h4>Claudine Choiri</h4>
        <h6>Front End Developer</h6>
        <p>
          Starting as a kido instructor in 2018, Matt now manages our global
          product development team.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section3">
  <div class="cer1">
    <img [src]="imgSrc6" alt="" />
    <p>
      ACTIVITY HERO <br />
      Best camps, classes and kids’ activities
    </p>
  </div>
  <div class="cer1">
    <img [src]="imgSrc7" alt="" />
    <p>
      Parents’ Choice <br />
      Gold Award for Best Coding Solution
    </p>
  </div>
  <div class="cer1">
    <img [src]="imgSrc8" alt="" />
    <p>
      TILLYWIG <br />
      BrainChild Award for Best Coding Solution
    </p>
  </div>
</div>

