.container-fluid {
    background-color: #F7EDE4;
    background-image: url("../../assets/ser_img/log2.png");
    background-repeat: no-repeat;
    background-size:contain; 
    
    background-position: center; 
    height: 100vh;
    display: flex;
    justify-content: flex-end;  
    align-items: center; 
}

.login-container {
    max-width: 400px;
    padding: 20px;
    background-color: #F7EDE4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-btn {
    background-color: #003e31;
    color: white;
}
.social-login img {
    width: 35px;
    height: 35px;
    margin: 0 10px;
}