<footer class="foot_style">
  <div class="container footer-style">
    <div class="section">
      <div>
        <img src="../../assets/Logo.svg" alt="logo" class="logo">
        <p class="para">Konec sit amet nibh vestibulum ipsum cursus rhoncus. Duis ac tortor gravida ligula eleifend
          finibus sed vel
          tellus.</p>
      </div>
      <div class="social">
        <h4>Social Media</h4>
        <ul class="social-links">
          <li>
            <a (click)="navigateToPath('https://www.facebook.com')">
              <i class="fa-brands fa-facebook icon"></i>
            </a>
          </li>
          <li>
            <a (click)="navigateToPath('https://www.linkedin.com')">
              <i class="fa-brands fa-linkedin icon"></i>
            </a>
          </li>
          <li>
            <a (click)="navigateToPath('https://www.twitter.com')">
              <i class="fa-brands fa-twitter icon"></i>
            </a>
          </li>
          <li>
            <a (click)="navigateToPath('https://www.instagram.com')">
              <i class="fa-brands fa-instagram icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="section">
      <h4>Get In Touch</h4>
      <div>
        <p class="fw-bolder">
          <i class="fa-solid fa-location-dot icon"></i>
          Address
        </p>
        <p class="mx-3">123 Street, New York, USA</p>
      </div>
      <div>
        <p class="fw-bolder">
          <i class="fa-solid fa-envelope icon"></i>
          Email
        </p>
        <p class="mx-3">mail&#64;domain.com</p>
      </div>
      <div>
        <p class="fw-bolder">
          <i class="fa-solid fa-phone icon"></i>
          Phone
        </p>
        <p class="mx-3">+012 345 67890</p>
      </div>
    </div>
    <div class="section">
      <h4>Subscribe to Our Newsletter</h4>
      <form>
        <input type="text" id="name" placeholder="Your Name">
        <input type="email" id="email" placeholder="Your Email">
        <input type="button" value="Subscribe">
      </form>
    </div>
  </div>
</footer>
<div class="d-flex justify-content-between bottom_footer">
  <img src="../../assets/footer/copyRights.png" alt="copyRights" class="copyRights">
  <div>
    <img src="../../assets/footer/visa.png" alt="pay" class="pe-1">
    <img src="../../assets/footer/image.png" alt="pay" class="pe-1">
    <img src="../../assets/footer/paypal.png" alt="pay" class="pe-1">
    <img src="../../assets/footer/googlePay.png" alt="pay" class="pe-1">
  </div>
</div>
