
    <div class="header " >
        <div class=" container row ">
            <div class="col-lg-6 col-md-7 col-sm-8  mt-5" >
                <div>  
                    <h1 class="fw-semibold">all courses</h1>
                    <p >home/ all courses</p>
                   
                </div>
                <div  class="search d-flex justify-content-between mt-5" style="min-width: 80%;">
                    <input type="text" placeholder="search about courses ..... " >
                    <button class="btn">search courses</button>
                </div>
               
            </div>
           
         
        </div>

     
        
    </div>
    
<app-coursecatigory ></app-coursecatigory>

   
   
    