.cart{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  gap: 10px 0;
}
td{
  background-color: transparent !important;
}
.info_course{
  margin-right: 50px;
}
.info_course p{
  margin: 0;
}
.info_course button{
  border: none;
  background-color: transparent;
  text-decoration: underline;
  transition: all ease 0.5s;
  cursor: pointer;
}
.info_course button:hover{
  color: #FC800A;
  transform: scale(1.1);
}

.next_pages{
  align-self: self-end;
}
