<div class="cart">
  <h3>Your cart</h3>
  <p *ngIf="cartItems.length === 0">Your cart is currently empty.</p>
  <button class="btn bttn">Find Your Course</button>


  <div *ngIf="cartItems.length > 0">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Course</th>
          <th scope="col"></th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of cartItems; let i = index">
        <tr>
          <td>{{item.photo}}</td>
          <td>
            <div>
              <p>{{item.title}}</p>
              <p>{{item.category}}</p>
              <button type="button" (click)="removeFromCart(i)">Remove</button>
            </div>
          </td>
          <td>{{item.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p class="fs-4">Total: ${{totalPrice()}}</p>
  </div>
</div>
