.blog-card,
.blog-card img{
  width: 440px;
}
.text{
  font-size: 16px;
}
.card-info div p{
  color: #FC800A;
}
.card-info button{
  background-color: transparent;
  border-radius: 15px;
  border: none;
  box-shadow: #FC800A 0 0 4px 0.5px;
  margin-bottom: 10px;
  padding: 5px 10px;
}
.card-scale:hover{
  box-shadow: #eee 0px 2px 2px 0px;
  cursor: pointer;
  transform: scale(1.02);
  transition: all ease 0.5s;
}
.links_sytyle{
  cursor: pointer;
  color: #FC800A;
}
