<p class="text-center mt-2 text-success">Course/s Payment</p>
<div class="container payment_style">
  <div>
    <h5>Contact Information</h5>
    <p>We'll use this email to send you details and updates about your order.</p>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="row">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" required>
      </div>
      <h5>Billing address</h5>
      <p>Enter the billing address that matches your payment method.</p>
      <div class="d-flex justify-content-between">
        <div>
          <label for="fname" class="me-2">First Name</label>
          <input type="text" id="fname" name="fname" required>
        </div>
        <div>
          <label for="lname" class="me-2">Last Name</label>
          <input type="text" id="lname" name="lname" required>
        </div>
      </div>
      <div class="row">
        <label for="suite" class="me-2 text-body-secondary">Apartment, suite, etc. (optional)</label>
        <input type="text" id="suite" name="suite">
      </div>
      <div class="row">
        <label for="country" class="me-2 text-body-secondary">Country/Region (optional)</label>
        <input type="text" id="country" name="country" >
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <label for="city" class="me-2">City</label>
          <input type="text" id="city" name="City" required>
        </div>
        <div>
          <label for="state" class="me-2 text-body-secondary">State</label>
          <input type="text" id="state" name="state">
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <label for="zip" class="me-2">Zip Code</label>
          <input type="text" id="zip" name="zip" required>
        </div>
        <div>
          <label for="phone" class="me-2 text-body-secondary">Phone</label>
          <input type="text" id="phone" name="phone">
        </div>
      </div>
      <h5>Payment options</h5>
      <div>
        <input type="radio" name="pay" id="pay" required>
        <label for="pay">Pay via (Debit/Credit cards/Wallets/Installments)</label>
        <div>
          <img src="../../assets/paymentPhoto.png" alt="">
        </div>
      </div>
      <div>
        <input type="submit" [disabled]="!loginForm.valid" value="Pay Now" class="btn bttn">
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
    <button type="button" class=" btn bttn" (click)="navigateToPath('courses')">
      <i class="fa-solid fa-arrow-left"></i>
      Back To Courses
    </button>
  </div>
  <div>
    <h5>Order summary</h5>
    <hr>
    <div class="summary" *ngFor="let item of cartItems">
      <div class="d-flex">
        <img [src]="item.photo" alt="photo">
        <div>
          <p>${{item.price}}</p>
          <p>{{item.title}}</p>
          <p>{{item.description}}</p>
        </div>
      </div>
      <hr>
    </div>
    <div class="fw-bolder fs-4 d-flex justify-content-between">
      <p>
        total : ${{totalPrice()}}
      </p>
      <button type="button" class=" btn bttn" (click)="navigateToPath('Cart')">
        Edit
      </button>
    </div>
  </div>
</div>
