h2 {
    color:#198754;
    font-size: 40px;
    display: block;
    margin: 10px;
    font-style: bold;
    text-align: center;
}
h3 {
  color: #198754;
}
.photo{
  position: relative;
  left: 200px;
}

.comment-Card{
  width: 450px;
}
.comment-Card img{
  width: 450px;
  border-radius: 15px 15px 0px 0px;
  height: 350px;
}
.text{
  font-size: 16px;
}
.card-info{
  padding: 10px;
}
.card-info div p{
  color: #FC800A;
}

.card-scale:hover{
  box-shadow: #eee 0px 2px 2px 0px;
  cursor: pointer;
  transform: scale(1.02);
  transition: all ease 0.5s;
}
.links_sytyle{
  cursor: pointer;
  color: #FC800A;
}
