
h2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fc800a;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  color: #fff; /* Corrected color code */
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: 20px auto;
}
h4 {
  color:#198754;
  font-size: 24px;
  display: block;
  margin: 10px;
  font-style: bold;
  text-align: center;
}
div {
  text-align: center; /* Center align the h2 inside the container */
 
}
.spacing {
  margin-top: 60px; /* Adjust this value for the desired spacing */
}


.photo{
  position: relative;
  left: 450px;
}

.comment-Card{
  width: 450px;
}
.comment-Card img{
  width: 450px;
  border-radius: 15px 15px 0px 0px;
  height: 350px;
}
.text{
  font-size: 16px;
}
.card-info{
  padding: 10px;
}
.card-info div p{
  color: #FC800A;
}

.card-scale:hover{
  box-shadow: #eee 0px 2px 2px 0px;
  cursor: pointer;
  transform: scale(1.02);
  transition: all ease 0.5s;
}
.links_sytyle{
  cursor: pointer;
  color: #FC800A;
}

/* Set the carousel height and width */
.carousel-inner {
  max-height: 400px;  /* Adjust the height as needed */
  overflow: hidden;   /* Prevent overflow */
}

/* Customize the caption text */
.carousel-caption h5 {
  font-size: 24px;
  font-weight: bold;
  color: #f1c40f;  /* Yellowish color for the headings */
  padding-top: 20px; /* Adjust this value for more/less space */
}

.carousel-caption p {
  font-size: 20px;
  color: #fff;   /* White color for the paragraph text */
}

/* Control the carousel indicator colors */
.carousel-indicators [data-bs-target] {
  background-color: #f1c40f;  /* Yellowish indicator dots */
}

/* Change the style of the control buttons (Next and Previous) */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #f1c40f;  /* Yellowish color for the control buttons */
  border-radius: 50%;
  padding: 10px;
}

/* Set the image width and height to maintain aspect ratio */
.carousel-item img {
  /*object-fit: cover;*/
  width: 80%;
  height: 400px; 
  display:block;
  margin-right: auto;
  margin-left: auto;
  
}



