
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url(../../assets/ser_img/star-pattan\ 1.png);
    
  }
  
  .profile-header {
    display: flex;
    align-items: center;  /* Vertically centers the items */
    padding: 10px;
    border: none;
    background-color:transparent;  /* Optional background color */
    justify-content: flex-start;  /* Aligns content to the left */
    margin-left: 0;  /* Ensures the header starts at the leftmost position */
    width: fit-content; 
    font-size: 36px;
    color: #ffae62; 
  }
  
  .user-name {
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;  /* Add some space between the name and the icon */
  }
  
  
  
  
 
  
  .profile-body {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .profile-section, .info-section {
    background-color: #fdf0e1;
    padding: 15px;
    border-radius: 10px;
    width: 40%;
  }
  
  h3 {
    color: #f76b1c;
    font-size: 30px;
    font-weight: bold;
  }
  
  p {
    margin: 5px 0;
  }
  
img {
    border-radius: 50%;
    width: 300px;
    height: 200px;
    
}
 