
<div class="profile-container">
    <div class="profile-header">
      <img [src]="user.photo" alt="User Photo" class="profile-photo">
    </div>
    <div class="profile-body">
      <div class="profile-section">
        <h3 class="text-center">Profile</h3>
        <p><strong>Name:</strong> {{ user.user_name }}</p>
        <p><strong>Age:</strong> {{ user.age }}</p>
        <p><strong>Email Address:</strong> {{ user.email }}</p>
        <p><strong>First Access to the Site:</strong> {{ user.firstAccess }}</p>
        <p><strong>Last Access to the Site:</strong> {{ user.lastAccess }}</p>
        <p><strong>Enrolled:</strong> {{ user.enrolled }}</p>
        <p><strong>Progress:</strong> {{ user.progress }}</p>
      </div>
    </div>
  </div>

