<div class="container">

  <p class="text-center mt-2 text-success">Kide Education</p>
  <h5 class="text-center">Empowering students to become <br> scholars of the whole child</h5>
  <div class="my-2 d-flex justify-content-between">
    <h6>
      Main Blog
    </h6>
    <h6>
      19 May 2014
    </h6>
  </div>
  <div class="my-2 d-flex justify-content-between">
    <div>
      <p class="fw-semibold">
        What is Coding?
        <br>
        The Ultimate Guide for Parents
    </p>
    <p class="text-break text-body-secondary text">Coding is the method of giving a computer
      instructions to perform a specific task. You may also hear coding
      referred to as software programming or computer programming.</p>
      <p class="text-break text-body-secondary text">These instructions are communicated using a
        language that computers can understand, like visual
        blocks, JavaScript and Python.</p>
        <p class="text-break text-body-secondary text">Code lays the groundwork for our
          world's technology, from microprocessors in everyday items
          like refrigerators and water heaters to
          sophisticated programs that run our cars and buildings.</p>
          <p class="text-break text-body-secondary text">Learning to code has become an
            essential element of a child's education and a great way
      for them to express their creativity and imagination.</p>
    </div>
    <div>
      <img src="../../assets/blogsPhotos/Two_kides_blog.png" alt="tow_kid" class="rounded my-4">
    </div>
  </div>
  <app-ques-blog></app-ques-blog>
  <app-blog-card></app-blog-card>
</div>
