input[type="text"],
input[type="email"]{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b6b6b6;
  outline: none;
  margin-bottom: 10px;
}
label{
  margin: 15px 5px;
  font-weight: 700;
}

input[type="submit"]{
  margin: 20px 0;
}
p{
  font-size: 14px;
  margin: 0;
}
