/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(--bs-dark-text-emphasis);
}

.logo {
  width: 130px;
  height: 90px;
  margin-right: 10px;
}
main{
  background-color: #fffdf8;
  margin: 0;
}
