.carousel-item {
    text-align: center;
    background-color: #f9f1e9;
    padding: 30px;
  }
  .carousel-item img {
    max-width: 100%;
    height: auto;
  }
  .about-us {
    background-color: cadetblue;
    padding: 10px 0;
  }
  .about-us img {
    max-width: 100%;
    border-radius: 10px;
  }
  .about-us-content {
    text-align: left;
  }
  .about-us-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .more-about-us {
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
  .more-about-us:hover {
    text-decoration: underline;
  }
  .footer-graphics {
    position: relative;
    margin-top: 30px;
    text-align: center;
  }
  .footer-graphics img {
    width: 100%;
  }
  .service-section {
    background-color:#fbb024;
    padding: 10px 0;
    text-align: center;
  }
  .service-item {
    margin-bottom: 30px;
  }
  .service-item img {
    border-radius: 25%;
    width: 300px;
    height: 250px;
    object-fit: cover;
  }
  .custom-footer {
    margin-top: 30px;
  }
  .testimonial-carousel {
    background-color: #FFA500;
    border: 2px dashed black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
  }
  .testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .testimonial-text {
    font-size: 1.1rem;
  }
  .testimonial-author {
    font-style: italic;
    margin-top: 10px;
  }
  .container {
    padding: 50px;
  }
  
  h1 {
    font-size: 2em;
    color: black;
    margin-bottom: 40px;
  }
  
  .categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
  }
  .fluid-container{background-color: #FFA500;}
  
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
  }
  
  .category img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .category p {
    font-size: 1.2em;
    color: black;
    margin-top: 10px;
  }
  .slide{color: #000;
  font-weight: bolder;}