body{
    font-size: 1rem;
    background-color: #fff6ed;
}
.animation-button{
    width: 100%;
    border: none;
    padding: 0.833rem;
    background-color:#fd810d ;
    color: aliceblue;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    border-radius: 10px 10px 0 0;
    bottom: -2.2rem;
    right: 0.11rem;
    opacity: 0;
}

input{
    width: 35%;
    padding: 0.83rem;
    border: none;
    background-color: white;
    border-radius: 1.11rem;
}

.catigory-card:hover{
    scale: 1.025;
}
.catigory-card:hover .animation-button{
    opacity: 1;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all ease 0.5s;
    
    box-shadow: #ffffff 0px 4px 4px 0px; ;
     
}
.catigory-card:hover .price{
    background-color: #FECF03;
}
a{
    text-decoration: none;
}
p{
    color: rgb(110, 110, 110);
}
svg{
    fill: #fd810d;
}
.catigory-card {
   position: relative;
    z-index: 0;
    border-radius: 0.83rem 0.83rem 0 0;
    margin-bottom: 15px;
    height: 85vh;
    border: none;
}
img{
    border-top-left-radius:0.83rem ;
    border-top-right-radius: 0.83rem;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius: 0;
    height: 40%;
  
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 13%;
    background-color: #fd810d;
    color: white;
    border-radius: 50%;
    float:right;
    position:absolute;
    z-index: 2;
    right: 1.4rem;
    top: 9.5rem;
}

.btn{
    background-color: #FECF03;
    border-radius: 1.1rem;
    color: #FFFBF8;
    font-size: 0.8rem; 
}

.btn:hover{
    border: 1px solid #FECF03;
    background-color: white;
    color: #FECF03;
    box-shadow:#FECF03 0 0 4px 0.5px;
}
.banner{
    background-image: url("../../../assets/coursesphoto/banner2.png");
    background-position:3% ;
    background-repeat: no-repeat;
    background-size: contain;
    padding:2.77rem 0 2.77rem 8.33rem;
    background-color: #171E45;
}