<div class="container">
    <div class="row " >
        
        <div class="col-md-5 col-sm-10">
            <h4 class="fw-semibold">Welcome To Our Comunity</h4>
            <p class="text-success fw-semibold">Get start and Register now.</p>
            <div class="background_photo">

            </div>

            
        </div>
        <div class="col-md-2"></div>

        <div class="col-md-5 col-sm-10" >
            <form (ngSubmit)="submitRegisterForm(registerForm)" [formGroup]="registerForm" style="height: fit-content; margin-top:120px;" >
                <label for="user_name"> user_name:<span>*</span></label>
                <br>
                <input type="text" formControlName="user_name" placeholder="type your full name">
                <div *ngIf="registerForm.get('user_name')?.errors && registerForm.get('user_name')?.touched">
                    
                    <div class="alert bg-danger py-1 text-light m-0"  *ngIf="registerForm.get('user_name')?.getError('minLength')"> minimum length is 6 letters</div>
                
                    <div class="alert bg-danger py-1 text-light m-0" *ngIf="registerForm.get('user_name')?.getError('required')">this input is required </div>
                </div>
                <br>
                <label for="age">age:<span>*</span></label>
                <br>
                <input type="number" formControlName="age" placeholder="type your first age">
                <div *ngIf="registerForm.get('age')?.errors&&registerForm.get('age')?.touched">
                    
                    <div class="alert bg-danger py-1 text-light m-0"  *ngIf="registerForm.get('age')?.getError('min')"> minimum age is 14</div>
                    <div class="alert bg-danger py-1 text-light m-0"  *ngIf="registerForm.get('age')?.getError('max')"> maximum length is 80</div>
                    <div class="alert bg-danger py-1 text-light m-0" *ngIf="registerForm.get('age')?.getError('required')">this input is required </div>
                </div>
                
                <br>
                <label for="email"> Email:<span>*</span></label>
                <br>
                <input type="text" formControlName="email" placeholder="type your Email adress">
            
                <div *ngIf="registerForm.get('email')?.errors&&registerForm.get('email')?.touched">
                    <div class="alert bg-danger py-1 text-light m-0 " *ngIf="registerForm.get('email')?.getError('required')">this input is required </div>
                    <div class="alert bg-danger py-1  text-light m-0"  *ngIf="registerForm.get('email')?.getError('email')"> Email is not valid</div>
                    
                </div>
            
                <br>
                <label for="password"> password:<span>*</span></label>
                <br>
                <input type="password" formControlName="password" placeholder="type password">
            
                <div *ngIf="registerForm.get('password')?.errors&&registerForm.get('password')?.touched">
                    <div class="alert bg-danger py-1 text-light m-0 " *ngIf="registerForm.get('password')?.getError('required')">this input is required </div>
                    <div class="alert bg-danger py-1  text-light m-0"  *ngIf="registerForm.get('password')?.getError('minLength')"> minimum length is 8</div>
                    <div class="alert bg-danger py-1  text-light m-0"  *ngIf="registerForm.get('password')?.getError('pattern')"> password must start with capital letter</div>
                </div>
              
                <br>
                <label for="confirm_password">  confirm_password:<span>*</span></label>
                <br>
                <input type="password" formControlName="confirm_password" placeholder="confirm password">
            
                <div *ngIf="registerForm.get('confirm_password')?.errors&&registerForm.get('confirm_password')?.touched ">
                    <div class="alert bg-danger py-1 text-light m-0 " *ngIf="registerForm.get('confirm_password')?.getError('required')">this input is required </div>
                    <div class="alert bg-danger py-1  text-light m-0"  *ngIf="registerForm.get('confirm_password')?.getError('minLength')"> minimum length is eight</div>
                    <div class="alert bg-danger py-1  text-light m-0"  *ngIf="registerForm.get('confirm_password')?.getError('pattern')"> password must start with capital </div>

                </div>
                <br>
              
             <button [disabled]="registerForm.invalid"  type="submit" class="btn">register</button>
             <div class="alert bg-danger py-1  text-light mt-2 " *ngIf="confirmation_Error"> please confirm your password correctly</div>
            </form>
    
    
        </div>
    </div>

</div>


